/* Center align everything on the page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
} 

/* Format the title text to be large and in the center */
h1 {
    font-size: 400%;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 5%;
}

/* Format the subtitle text to be centered, but smaller */
h2 {
    font-size: 200%;
    text-align: center;
    height: auto;
    width: 70%;
    padding: 5%;
}

/* Center align the middle section under the title */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Center align the buttons */
#start {
    font-size: 200%;
    text-align: center;
    width: 4em;
}

/* Move the timer box into the top right corner */
#timerBox {
    height: 5em;
    width: 5em;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}