/* Center align everything on the page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: darkslategray;
}

/* Create a white box to put all the things in */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70em;
    height: 45em;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 10px 10px 18px black;
    position: relative;
} 

/* Format the title text to be large and in the center */
h1 {
    position: absolute;
    top: 5px;
    font-size: 400%;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 5%;
}

/* Format the subtitle text to be centered, but smaller */
h2 {
    font-size: 200%;
    text-align: center;
    height: auto;
    width: 70%;
    padding: 2%;
}

/* Center align the middle section under the title */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

/* Space the answer buttons nicely */
#choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

/* Make the buttons pretty */
button {
    color: whitesmoke;
    background-color: #008CBA;
    border: none;
    border-radius: 10px;
    padding: 20px;
}

/* Make the colors of the buttons invert when hovered */
button:hover {
    color: #008CBA;
    background-color: white;
    box-shadow: 0 0 5px #008CBA;
    border-radius: 10px;
    padding: 20px;
}


/* Center align the buttons */
#start {
    font-size: 200%;
    text-align: center;
    width: 4em;
}

/* Move the timer box into the top right corner */
#timerBox {
    height: 5em;
    width: 5em;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Space the save form nicely */
.saveData {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}

/* Space the list of high scores nicely */
.scoreBox {
    width: 50%;
    display: flex;
    justify-content: space-around;
}